build/
.gradle/
target/
.idea/
*.iml

*.class
Main.java
chooseCitySpeechletRequestStreamHandler.java

# Package Files #
*.jar
*.war
*.ear
/target

#IntelliJ
.idea/
*.iml

#Pom backups
pom.xml.versionsBackup